match(selector)                       checked()
ref(key)                              className(str)
selected()                            contain(node)
tagName(str)                          descendants(selector)
text(str)                             disabled()
value(str)                            blank()
attr(key, [val])                      present()
data(key, [val])                      html(str)
style(key, [val])                     id(str)
state(key, [val])                     prop(key, [val])
